.Basket {
  position: absolute;
  z-index: 2;
  right: 1%;
}
.Amount {
  background-color: #e5674e;
  z-index: 10;
  position: absolute;
  right: 20%;
  top: 10%;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  color: white;
}
.overlay {
  position: absolute;
  z-index: 20;
  border-radius: 3px;
  background-color: #ffffff;
  height: 80vh;
  width: 85vw;
  left: 7.5%;
  top: 9%;
}
.triangle {
  background-color: #ffffff;
  width: 20px;
  position: absolute;
  right: 2%;
  top: -1%;
  transform: rotate(45deg);
  color: #ffffff;
}
.flexit {
  display: flex;
  flex-direction: row;
  width: 90%;

  margin-top: 50px;

  justify-content: space-between;
  align-items: center;
}

.flux {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.increase {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.bhead {
  margin-left: 50px;
}
.decrease {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.cart {
  height: 90%;
  width: 90%;
  background: #ffffff;
  position: fixed;
  top: 50px;
  margin: 20px;
}
.titel {
  text-align: center;
}
.cartItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.produkt {
  margin-left: 20px;
  line-height: 2px;
}

.btn {
  line-height: 0;
}

.purchase {
  background-color: #2f2926;
  color: white;
  margin-left: 50px;
  height: 50px;
  width: 220px;
  border: none;
  border-radius: 25px;
}
