.Account {
  text-align: center;
  background-color: #2f2926;
  min-height: 100vh;
  font-family: PT Serif;
  color: white;
}
.ProfileImg {
  margin-top: 120px;
}
.nav {
  position: absolute;
  z-index: 4;
  top: 2%;
  left: 3%;
}
.name {
  margin: 10px;
}
.email {
  margin: 0;
}
.Mid {
  margin-top: 100px;
  text-align: left;
  margin-left: 25px;
  width: 100px;
}
.kvitto {
  width: 100vw;
}
.id {
  margin-right: 200px;
  margin-left: -20px;
  margin-bottom: 50px;
  text-align: left;
  font-weight: 400;
}
.totalt {
  margin-right: 145px;
  margin-left: -20px;
}
.date {
  margin: 0px;
}

.price {
  text-align: right;
}
.sum {
  text-align: left;
}
hr {
  width: 90vw;
}
.TableHead {
  width: 20vw;
}
.all {
  margin-right: 200px;
  margin-left: -20px;
  margin-bottom: 50px;
  text-align: left;
}
.orderhistorik {
  padding-bottom: 50px;
}
.totalt {
  color: rgba(255, 255, 255, 0.5);
}
.somestyle {
  color: rgba(255, 255, 255, 0.5);
}
