body {
  margin: 0;
}
.App {
  text-align: center;
  background-color: #2f2926;
  min-height: 100vh;
  font-family: PT Serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.HeadImg {
  position: absolute;
  z-index: 2;
  left: 0%;
}
.LowImg {
  position: absolute;
  z-index: 2;
  left: 0%;
  top: 100%;
}
.App-login {
  background-color: #f3e4e1;
  position: absolute;
  top: 12%;
  left: 5%;
  width: 90vw;
  height: 85vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.banner {
  margin-top: 20px;
}
.inputs {
  width: 80vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.inputstxt {
  margin: 0px;
  text-align: left;
}
#Mail {
  border-radius: 10px;
  border: #2f2926 2px solid;
  background-color: #f3e4e1;
  width: 80vw;
  height: 5vh;
}
#userN {
  border-radius: 10px;
  border: #2f2926 2px solid;
  background-color: #f3e4e1;
  width: 80vw;
  height: 5vh;
}
.LoginB {
  margin-top: 60px;
  margin-left: 23px;
  background-color: #2f2926;
  border-radius: 25px;
  border: none;
  color: white;
  font-family: PT Serif;
  font-weight: bold;
  font-size: 24px;
  width: 248px;
  height: 55px;
}
.App-link {
  color: #61dafb;
}
Menu {
  position: absolute;
}
